<section id="aboutus" class="py-30 bg-section-bg-primary">
  <div
    class="custom-container sm:max-w-[33.75rem] md:max-w-[60rem] xl:max-w-[71.25rem]"
  >
    <h2
      class="font-bold text-5xl text-text-main text-center relative after:w-20 after:h-0.5 after:absolute after:start-1/2 after:top-[120%] after:-translate-x-1/2 after:bg-text-main"
    >
      A few words about us
    </h2>
    <p class="text-xl text-text-main text-center mt-6">
      Make your best moments more stylish with our latest designs of clothing.
    </p>
    <div class="mt-30 grid gap-10 grid-cols-1 md:grid-cols-2">
      <figure class="w-full col-span-1 rounded-3xl overflow-hidden">
        <img src="about-1-min.png" alt="Why choose us pic" class="w-full" />
      </figure>
      <div class="flex justify-center items-center flex-col gap-y-4">
        <h3 class="text-2xl self-start">Why choose us ?</h3>
        <p class="leading-normal text-gray-700">
          Maecenas congue metus id turpis iaculis mattis. Sed pellentesque id
          arcu id scelerisque. Ut ullamcorper rutrum justo, at blandit eros
          maximus ut. Integer non tincidunt justo, rhoncus Aenean venenatis sed
          purus ac sollicitudin. Nulla mauris risus, commodo et luctus rutrum,
          lobortis sed mauris. Integer congue, sem elementum varius tristique.
        </p>
      </div>
    </div>
    <div class="mt-30 grid gap-10 grid-cols-1 md:grid-cols-2">
      <div class="flex justify-center items-center flex-col gap-y-4">
        <h3 class="text-2xl self-start">Trusted online shopping</h3>
        <p class="leading-normal text-gray-700">
          Maecenas congue metus id turpis iaculis mattis. Sed pellentesque id
          arcu id scelerisque. Ut ullamcorper rutrum justo, at blandit eros
          maximus ut. Integer non tincidunt justo, rhoncus Aenean venenatis sed
          purus ac sollicitudin. Nulla mauris risus, commodo et luctus rutrum,
          lobortis sed mauris. Integer congue, sem elementum varius tristique.
        </p>
      </div>
      <figure class="w-full col-span-1 rounded-3xl overflow-hidden">
        <img
          src="about-2-min.png"
          alt="Trusted online shopping
 pic"
          class="w-full"
        />
      </figure>
    </div>
  </div>
</section>
