<footer
  id="footer"
  class="py-10 dark:text-white text-white bg-[#2E2E2E] shadow-lg shadow-[#2E2E2E] z-0"
>
  <div
    class="custom-container sm:max-w-[33.75rem] md:max-w-[60rem] xl:max-w-[71.25rem]"
  >
    <div
      class="upper-footer grid gap-5 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 pb-7.5 border-b-[.0417rem] border-white/20"
    >
      <div class="child1">
        <h3 class="text-3xl capitalize my-4 font-bold">trendify</h3>
        <p class="leading-normal mb-4 text-white/70">
          Join our newsletter to stay up to date on features and releases.
        </p>
        <p class="leading-normal text-white/70">
          By subscribing you agree to with our Privacy Policy and provide
          consent to receive updates from our company.
        </p>
      </div>
      <div class="child2">
        <h3 class="text-3xl capitalize my-4 font-bold">about us</h3>
        <ul class="space-y-4">
          <li><span class="text-white/70">FAQ</span></li>
          <li><span class="text-white/70">Contact</span></li>
          <li><span class="text-white/70">Returns</span></li>
          <li><span class="text-white/70">Blog</span></li>
          <li><span class="text-white/70">Shipping</span></li>
        </ul>
      </div>
      <div class="child3">
        <h3 class="text-3xl capitalize my-4 font-bold">customer</h3>
        <ul class="space-y-4">
          <li><span class="text-white/70">Affiliates</span></li>
          <li><span class="text-white/70">Apple Pay Payments</span></li>
          <li><span class="text-white/70">Returns</span></li>
          <li><span class="text-white/70">Returns Policy </span></li>
          <li><span class="text-white/70">Returns</span></li>
        </ul>
      </div>
      <div class="child4">
        <h3 class="text-3xl capitalize my-4 font-bold">follow us</h3>
        <ul class="space-y-4">
          <li><span class="text-white/70">Facebook </span></li>
          <li><span class="text-white/70">Instagram</span></li>
          <li><span class="text-white/70">Twitter</span></li>
          <li><span class="text-white/70">LinkedIn</span></li>
        </ul>
      </div>
    </div>
    <div class="lower-footer pt-7.5">
      <p
        class="text-center dark:text-text-main/80 text-text-main/80 font-semibold"
      >
        © 2025 Trendify. All rights reserved.
      </p>
    </div>
  </div>
</footer>
