<section
  id="home"
  class="bg-[url('/wraper-min.png')] bg-[50%] bg-cover bg-no-repeat h-screen text-white flex justify-center items-center shadow-xl"
>
  <div
    class="custom-container sm:max-w-[33.75rem] md:max-w-[60rem] xl:max-w-[71.25rem]"
  >
    <h1 class="text-4xl leading-16">
      Elevate Your Home with <br />
      Stylish Furniture
    </h1>
    <p class="mt-8 w-1/2">
      Explore a range of high-quality, affordable furniture designed to
      transform any room. Discover the perfect blend of style, comfort, and
      functionality for your space.
    </p>
    <button
      class="mt-8 capitalize py-2 px-14 bg-main dark:bg-main rounded-full hover:bg-[#573311] transition-colors duration-500 cursor-pointer"
    >
      shop now
    </button>
  </div>
</section>
