<section id="contactus" class="py-30">
  <div
    class="custom-container sm:max-w-[33.75rem] md:max-w-[60rem] xl:max-w-[71.25rem]"
  >
    <h2
      class="font-bold text-5xl text-text-main text-center relative after:w-20 after:h-0.5 after:absolute after:start-1/2 after:top-[120%] after:-translate-x-1/2 after:bg-text-main"
    >
      Contact us
    </h2>
    <p class="text-xl text-text-main text-center mt-6 text-[.875rem]">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor
    </p>
    <div class="mt-5 gap-4 grid grid-cols-2">
      <div class="col-span-2 md:col-span-1">
        <label for="firstName" class="block capitalize text-text-main"
          >first name</label
        >
        <input
          type="text"
          id="firstName"
          name="firstName"
          placeholder="Enter your first name"
          class="rounded-md mt-2 py-2 px-5 border-[.0417rem] bg-section-bg-primary w-full border-main focus:ring-main focus:outline-none placeholder:text-gray-500"
        />
      </div>
      <div class="col-span-2 md:col-span-1">
        <label for="lastName" class="block capitalize text-text-main"
          >last name</label
        >
        <input
          type="text"
          id="lastName"
          name="lastName"
          placeholder="Enter your second name"
          class="rounded-md mt-2 py-2 px-5 border-[.0417rem] bg-section-bg-primary w-full border-main focus:ring-main focus:outline-none placeholder:text-gray-500"
        />
      </div>
      <div class="col-span-2 md:col-span-1">
        <label for="email" class="block capitalize text-text-main">email</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter your email"
          class="rounded-md mt-2 py-2 px-5 border-[.0417rem] bg-section-bg-primary w-full border-main focus:ring-main focus:outline-none placeholder:text-gray-500"
        />
      </div>
      <div class="col-span-2 md:col-span-1">
        <label for="phone" class="block capitalize text-text-main">phone</label>
        <input
          type="tel"
          id="phone"
          name="phone"
          placeholder="Enter your phone"
          class="rounded-md mt-2 py-2 px-5 border-[.0417rem] bg-section-bg-primary w-full border-main focus:ring-main focus:outline-none placeholder:text-gray-500"
        />
      </div>
      <div class="col-span-2">
        <label for="choosetopic" class="block capitalize text-text-main"
          >choose a topic</label
        >
        <select
          id="choosetopic"
          name="topic"
          class="rounded-md mt-2 py-2 px-5 border-[.0417rem] bg-section-bg-primary w-full border-main focus:ring-main focus:outline-none appearance-none bg-[url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyBhcmlhLWhpZGRlbj0ndHJ1ZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJyBmaWxsPSdub25lJyB2aWV3Qm94PScwIDAgMTAgNic+IDxwYXRoIHN0cm9rZT0nIzZCNzI4MCcgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJyBzdHJva2Utd2lkdGg9JzInIGQ9J20xIDEgNCA0IDQtNCcvPiA8L3N2Zz4=)] bg-no-repeat bg-position-[98%] bg-size-[.75rem]"
        >
          <option disabled selected>Select one..</option>
          <option value="Html">Html</option>
          <option value="Css">Css</option>
          <option value="Js">Js</option>
          <option value="bootstrap">Bootstrap</option>
          <option value="tailwind">Tailwind</option>
        </select>
      </div>
      <div class="col-span-2">
        <label for="message" class="block capitalize text-text-main"
          >message</label
        >
        <textarea
          id="message"
          name="message"
          class="rounded-md mt-2 py-2 px-5 border-[.0417rem] bg-section-bg-primary w-full border-main focus:ring-main focus:outline-none placeholder:text-gray-500 resize-none max-h-[10.0001rem] h-[10.0001rem]"
          placeholder="Type a message"
        ></textarea>
      </div>
      <div class="col-span-2">
        <button
          class="mt-8 capitalize py-2 px-14 bg-main dark:bg-main rounded-full hover:bg-[#573311] transition-colors duration-500 cursor-pointer text-white"
        >
          submit
        </button>
      </div>
    </div>
  </div>
</section>
